html{
    height: 100%;
}
* {
    text-decoration: none;
}
.roboto, .navbar-brand {
    font-family: 'Roboto', sans-serif !important; 
}
body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #323a4d;
    font-weight: 400;
    height: 100%;
    color: #1e2d41;
    background-color: #fff; 
}

/* header */
header {
    position: sticky;
    top: 0;
    background: #ffffff;
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

header .navbar-toggler:focus {
    box-shadow: 0px 1px 6px #f8714c;
}

header .navbar-toggler .navbar-toggler-icon {
    height: auto; 
}

header .navbar-toggler:hover .navbar-toggler-icon {
    color: #f8714c; 
} 

header .navbar-nav .nav-item .nav-link {
    color: #1e2d41;
    padding: 0.5rem 0.75rem;
    font-size: 16px;
    font-weight: 400 !important;
}
header .navbar-nav .nav-item .nav-link:hover {
    color: #f8714c;
    text-decoration: underline solid 16%;
    text-underline-offset: 8px;
}
header .navbar-nav .nav-item .nav-link.active {
    color: #f8714c;
    text-decoration: underline solid 16%;
    text-underline-offset: 8px;
}

header .navbar-nav .nav-item.dropdown .dropdown-menu {
    border: 0;
    border-radius: 0;
    background: white;
}

header .navbar-nav .nav-item.dropdown .dropdown-menu li a {
    font-size: 15px;
    font-weight: 400;
    padding: 0.5rem 1rem;
}

header .navbar-nav .nav-item.dropdown .dropdown-menu li a span:hover {
    color: #f8714c;
    background: none; 
}
.dropdown-item.active, .dropdown-item:hover {
    color: #f8714c;
    text-decoration: none;
    background-color: #ffffff;
}

.dropdown-item.active, .dropdown-item:active {
    color: #ffffff;
    text-decoration: none;
    background-color: #f8714c;
}

/* Logo */
.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.logo-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text-container img{
    width: 50px;
    padding: 0;
    margin-right: 6px;
} 

.text {
    display: flex;
    flex-direction: column;
}

.text .dp-text {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.text .inst-text {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.navbar-brand {
    /* font-size: 1rem; */
    color: #1e2d41;
    font-weight: 500;
}

.navbar-brand:hover {
    color: #1e2d41;
}

.navbar-brand.dark {
    color: #fff;
}

.navbar-brand.dark span {
    background: transparent;
}

.dropdown-toggle::after{
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropend:hover .dropdown-content {
    display: block;
    margin-left: 100%;
    margin-top: -10%;
}


/* Home Page */

/* carousel */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.carousel-inner{
    position: relative;
    width:100%;
    height:100%;
}

.carousel-caption{
    position: absolute;
    text-align: left;
}

.carousel-caption h5{
    font-size: 6vw;
}

.carousel-caption p{
    color: #f8714c;
    font-weight: 600;
}


/* Home - News */
.news-section {
    position: relative;
    width: 100%;
    padding: 40px 0 40px 0;
}

.events-row {
    max-height: 280px;
    /* display: grid; */
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.list-group-item {
    min-width: 240px;
    width: 100%;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.news {
    position: relative;
    width: 100%;
    padding: 10px 0;
}

.news-card {
    width: 100%;
    height: 280px;
    border: 1px solid #eee;
    border-radius: 20px;
    overflow: hidden;
}

.news-card .card-body {
    padding: 15px;
}

.news-card .card-footer {
    display: flex;
    justify-content: end;
    background-color: #ffffff;
    border: none;
    padding: 10px;
}

.news-card-text {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 15px;
    margin-bottom: 0;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.news-card-text a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease; 
}

.news-card-text a:hover {
    color: #f8714c;
}

.news-text-body-secondary {
    color: #6c757d;
    font-size: 14px;
}

@media (max-width: 768px) {
    .lineheading {
        flex-direction: column;
        align-items: flex-start;
    }
    .lineheading p {
        margin-bottom: 10px;
    }
}

.date {
    width: 92px;
    height: 92px;
    background-color: #fff;
    color: #f8714c;
    border-radius: 5px;
    padding: 15 0px;
    text-align: center;
    margin-right: 10px;
    border: 1px solid #eee;
    border-radius: 20px;
}

.day {
    font-size: 24px;
    font-weight: bold;
}

.month,
.year {
    font-size: 14px;
}

.info {
    flex-grow: 1;
}

/* Acheivement Section */
.achievements-section{
    padding: 40px 0 40px 0;
    /* background: rgb(248, 113, 76, 0.1); */

    /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%); */
    /* clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%); */
    /* background: linear-gradient(160deg, #f8714c, #ffba6c); */
    /* clip-path: polygon(0 0, 0 0,0 100%, 100% 100%, 100% 50px); */
}
.achievements-section .carousel .carousel-inner {
    padding: 80px 40px;
    background: rgb(248, 113, 76, 0.1);
    border-radius: 20px;
}

.achievements-section .card img {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.achievements-section .card-title {
    color: #f8714c;
}

.slider-container {
    position: relative; 
    width:100%;
    overflow: hidden;
}
.slider-track {
    width: 100%;
    /* display: flex; */
    /* justify-content: center; */
    /* animation: scroll 20s linear 1s infinite; */
}
.slider-track .card {
    background: transparent;
    width: 100%;
    /* margin: 0 auto; */
    border: none;
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
    transition: transform 0.3s ease;
    overflow: hidden;
}
.slider-track .card-body {
    max-width: 600px;
}
/* .slider-track .card:hover {
    max-width: 360px;
}
.slider-track .card:not(:hover) {
    max-width: 300px;
} */
.slider-track .card img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    transition: transform 0.3s ease;
    border-radius: 20px;
}  
.slider-track .card:hover img {
    transform: scale(1.1);
}
.slider-track .card-img-overlay {
    background: rgba(0, 0, 0, 0.6);
}
.slider-track .text-container{
    position: absolute;
    top: auto;
    bottom: 0px;
    padding: 20px;
    left: 0;
    background: rgb(248, 113, 76, 0.3);
}
.slider-track .card-title {
    color: #f8714c;
    font-size: 24px;
    font-weight: bold;
}
.slider-track .card-text {
    font-size: 18px;
    color: #6c757d;
}
/* .slider-track > div {
    display: flex;
} */
/* @keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% + 300px));
        left: 0px;
    }
} */

/* Recent actiities */
.recent-activities { 
    padding: 40px 0 40px 0;
    /* background: rgb(248, 113, 76, 0.1); */
    /* clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%); */
    /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%); */
    /* background-image: url('../images/iith.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Gallery item */
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Image within gallery item */
.gallery-item img {
    width: 100%;
    height: 180px;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

/* Image hover effect */
.gallery-item:hover {
    transform: scale(1.05);
}





/* Contact */
.contact-section{
    background: transparent;
    padding: 80px 40px;
}

.contact-section .contact-row{
    display: flex;
    justify-content: space-between;
    padding: 80px 40px;
}
.contact-row i{
    color: #f8714c;
    margin-right: 8px;
}
.contact-row address, h6{
    padding: 10px 0 0 0;
}

/* vision-mision */

.vision-mision{
    padding: 80px 0;
}
.vision-mision .heading{
    background: #f8714c;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.vision-mision .mission{
    margin-top: 80px;
}

.vision-mision .card{
    margin-top: 42px;
    padding: 24px;
    border: 2px solid #f8714c;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.vision-mision .card::before{
    content: '';
    position: absolute;
    height: 62px;
    top: -54px;
    left: 45px;
    background: #f8714c;
    border: 2px solid #f8714c;
    border-radius: 20px;
}

.vision-mision .card::after{
    content: '';
    position: absolute;
    height: 62px;
    left: auto;
    right: 45px;
    top: -54px;
    background: #f8714c;
    border: 2px solid #f8714c;
    border-radius: 20px;
}

.vision-mision .img-box{
    text-align: center;
    padding: 20px 0;
}

.vision-mision img{
    width: 62%;
}

/* Recent actiities */
.recent-activities { 
    padding: 40px 0 40px 0;
    /* background: rgb(248, 113, 76, 0.1); */
    /* clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%); */
    /* clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 0 100%); */
    /* background-image: url('../images/iith.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Gallery item */
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Image within gallery item */
.gallery-item img {
    width: 100%;
    /* height: 280px; */
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

/* Image hover effect */
.gallery-item:hover {
    transform: scale(1.05);
}

/* Text overlay */
.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.text-overlay a{
    text-decoration: none;
}

/* Text overlay content */
.text-overlay-content {
    text-align: center;
    color: #fff;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}


/* Show text overlay on hover */
.gallery-item:hover .text-overlay {
    opacity: 1;
}

.gallery-item:hover .text-overlay-content {
    opacity: 1;
}


.img-container:hover .text-overlay {
    opacity: 1;
}

/* events-section */

/* upcoming events */

.events-section .event-card {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.event-card:hover {
    transform: translateY(-5px);
}

.event-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 200px;
    object-fit: cover;
}

.event-card .card-body {
    padding: 20px;
}

.event-card h5 {
    margin-bottom: 10px;
    font-size: 1.25rem;
}

.event-card p {
    color: #6c757d;
    font-size: 0.9rem;
    margin-bottom: 8px;
}
@media (max-width: 768px) {
    .event-card {
        margin-bottom: 20px;
    }
    .carousel-caption{
        transform: translate(0%, 30%);
    }
    .carousel-caption p{
        transform: translate(0%, -5%);
    }
    footer .em-txt{
        display: inline;
        color: #fff;
        font-size: 0.75rem;
    }
}
/* upcoming events */

.event-card {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.event-card:hover {
    transform: translateY(-5px);
}

.event-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 200px;
    object-fit: cover;
}

.event-card .card-body {
    padding: 20px;
}

.event-card h5 {
    margin-bottom: 10px;
    font-size: 1.25rem;
}

.event-card p {
    color: #6c757d;
    font-size: 0.9rem;
    margin-bottom: 8px;
}

.google-calendar-btn {
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.google-calendar-btn:hover {
    background-color: #357ae8;
}

@media (max-width: 768px) {
    .event-card {
        margin-bottom: 20px;
    }
    .carousel-caption{
        transform: translate(0%, 30%);
    }
    .carousel-caption p{
        transform: translate(0%, -5%);
    }
    footer .em-txt{
        display: inline;
        color: #fff;
        font-size: 0.75rem;
    }
}


/* profile */

.profile {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.profile img {
    width: 200px;
    height: auto;
    object-fit: cover;
}

.info {
    padding: 20px;
}

.info h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

/* Faculty Profile */

.faculty-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    min-height: 100vh;
}

.faculty-profile-card {
    position: relative;
    background: #fff;
    max-width: 320px;
    height: 100%;
    margin: 10px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.faculty-profile-card .img-container {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
}
.faculty-profile-card .img-container .text-overlay-content {
    text-align: center;
    color: #fff;
    padding: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.faculty-profile-card .text-overlay-content .btn-primary {
    padding: 10px;
    color: #f8714c;
    background: transparent;
    border: 2px solid #f8714c;
    border-radius: 20px;
}

.faculty-profile-card .img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.faculty-profile-card .card-title {
    width: 90%;
    background: #ffffff;
    padding: 10px 15px;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 1.1rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.faculty-profile-card .card-body {
    padding: 20px;
    padding-top: 80px;
}

.designation{
    color: #f8714c;
}

.faculty-profile-card .social-icons {
    margin-top: 10px;
    border-top: 2px solid #f8714c;
    text-align: start;
    padding: 5px 2px;
}

.faculty-profile-card .social-icons a {
    color: #555;
    margin: 0 10px;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.2s;
}

.faculty-profile-card .social-icons a:hover {
    color: #f8714c;
}

.faculty-profile-card .card-title .txt{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #666;
} 

@media (max-width: 600px) {
    .profile {
        flex-direction: column;
    }

    .profile img {
        width: 100%;
    }
}

/* Student Profile */
#profilesRow {
    position: relative;
}

#profilesRow img {
    max-width: 540px;
    padding: 0;
    height: 200px;
    object-fit: cover;
}


/* Footer */
footer {
    border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
    color: #999;
    margin-bottom: 0px;
    background-color: #171e27;
    padding: 40px 0 0 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

footer .em-txt{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-size: 18px;
}

.em-txt img{
    width: 50px;
    margin-right: 10px;
}

footer address {
    color: #bfbfbf;
    font-size: 14px;
    line-height: 1.5;
}

footer address .contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.5rem;
    font-size: 18px;
    font-weight: 600;
    color: #bfbfbf;
    margin: 40px 0 20px 0;
}

footer address .contact i {
    color: #f8714c;
    margin-right: 10px;
}

footer ul {
    margin: 40px 0;
    padding: 0; 
}

footer ul li {
    list-style: none;
    color: #fff;
    font-size: 1rem;
}

footer ul li:first-child {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #bfbfbf;
}

footer ul li a {
    color: #fff;
    font-size: 0.85rem;
    padding: 0.4rem 0;
    display: inline-block;
    text-decoration: none;
}

footer ul li a:hover {
    border-radius: 4px;
    color: #f8714c;
    text-decoration: none;
}

footer .powered-by {
    font-size: 10px;
    color: #d0d6e6;
}

footer .powered-by img {
    width: 65px; 
}

iframe {
    width: 100% !important;
    border: none;
    display: block;
}

.social-links{
    display: flex;
    justify-content: center;
    bottom: 0px;
    width: 100%;
    padding: 20px;
}

.social-links a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: transparent;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.social-links a:hover{
    color: #f8714c;
    border: 1px solid #ffffff;
    border-radius: 50%;
} 

 



/* Common */

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
    text-align: left;
}

/* Headings */
.heading {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 28px;
}

.heading span {
    position: relative; 
}

.heading span::after {
    background: #f8714c;
    width: 60px;
    height: 6px;
    display: inline-block;
    content: "";
    position: absolute;
    border-radius: 0%;
    z-index: -1;
    top: 36px;
    left: 2px;
    padding-bottom: 5px;
}

.lineheading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

.lineheading::after{
    content: "";
    display: block;
    width: 100%;
    height: 2.25px;
    background: #f8714c;
    top: 50%;
    position: absolute;
    z-index: 1;
}

.lineheading p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
    /* padding: 0 10px; */
    background-color: #ffffff;
    z-index: 2;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #eee;
    margin-bottom: 20px;
}

/* Form */
.form-container {
    display: none;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  form {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  form select {
    border: none;
    border-bottom: 2px solid #eee;
    padding: 10px;
  }

.msg {
    text-align: justify;
    text-justify: inter-word;
}
/* Buttons */
.btn-short {
    background-color: #f8714c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    z-index: 2;
    position: relative;
}

.btn-short:hover {
    background-color: #d45b39;
}

.btn-primary{
    padding: 10px;
    color: #f8714c;
    background: transparent;
    border: 2px solid #f8714c;
    border-radius: 20px;
}

.btn-primary:hover{
    color: #f1f1f1;
    background: #f8714c;
    border: 2px solid #f8714c;
}

.btn-primary:active{
    color: #f1f1f1;
    background-color: #f8714c;
    border: 2px solid #f8714c;
}

/* loading overlay */
.spinner-grow {
    color: #f8714c;
}
.spinner-border {
    color: #f8714c;
}
.loading-overlay{
    position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* Background Animation */
.animated-background1 {
    position: absolute;
    width: 120px;
    height: 120px;
    left: auto;
    right: 100px;
    bottom: 400px;
    background-color:transparent;
    background-image: radial-gradient(circle, #f8714c 10%, transparent 12%);
    background-size: 20px 20px;
    animation: rotate-bg 120s linear infinite;
  }

  .animated-background2 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 200px;
    left: 200px;
    right: auto;
    background-color:transparent;
    background-image: radial-gradient(circle, #f8714c 10%, transparent 12%);
    background-size: 20px 20px;
    animation: rotate-bg 120s linear infinite;
  }

  @keyframes rotate-bg {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  
@media (max-width: 768px) {
    .event-card {
        margin-bottom: 20px;
    }
    .carousel-caption{
        transform: translate(0%, 30%);
    }
    .carousel-caption p{
        transform: translate(0%, -5%);
    }
    footer .em-txt{
        /* display: inline; */
        color: #fff;
        font-size: 0.75rem;
        /* word-break: break-all; */
    }
}