html{
    height: 100%;
}
* {
    text-decoration: none;
}
.roboto, .navbar-brand {
    font-family: 'Roboto', sans-serif !important; 
}
body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 1rem;
    color: #323a4d;
    font-weight: 400;
    height: 100%;
    color: #1e2d41;
    background-color: #fff; 
}

/* header */
header {
    position: sticky;
    top: 0;
    background: #ffffff;
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

header .navbar-toggler:focus {
    box-shadow: 0px 1px 6px #f8714c;
}

header .navbar-toggler .navbar-toggler-icon {
    height: auto; 
}

header .navbar-toggler:hover .navbar-toggler-icon {
    color: #f8714c; 
} 

header .navbar-nav .nav-item .nav-link {
    color: #1e2d41;
    padding: 0.5rem 0.75rem;
    font-size: 16px;
    font-weight: 400 !important;
}
header .navbar-nav .nav-item .nav-link:hover {
    color: #f8714c;
    text-decoration: underline solid 16%;
    text-underline-offset: 8px;
}
header .navbar-nav .nav-item .nav-link.active {
    color: #f8714c;
    text-decoration: underline solid 16%;
    text-underline-offset: 8px;
}

header .navbar-nav .nav-item.dropdown .dropdown-menu {
    border: 0;
    border-radius: 0;
    background: white;
}

header .navbar-nav .nav-item.dropdown .dropdown-menu li a {
    font-size: 15px;
    font-weight: 400;
    padding: 0.5rem 1rem;
}

header .navbar-nav .nav-item.dropdown .dropdown-menu li a span:hover {
    color: #f8714c;
    background: none; 
}
.dropdown-item.active, .dropdown-item:hover {
    color: #f8714c;
    text-decoration: none;
    background-color: #ffffff;
}

.dropdown-item.active, .dropdown-item:active {
    color: #ffffff;
    text-decoration: none;
    background-color: #f8714c;
}

/* Logo */
.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
    display: flex;
    justify-content: center;
}

.logo-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text-container img{
    width: 50px;
    padding: 0;
    margin-right: 6px;
} 

.text {
    display: flex;
    flex-direction: column;
}

.text .dp-text {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.text .inst-text {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.navbar-brand {
    /* font-size: 1rem; */
    color: #1e2d41;
    font-weight: 500;
}

.navbar-brand:hover {
    color: #1e2d41;
}

.navbar-brand.dark {
    color: #fff;
}

.navbar-brand.dark span {
    background: transparent;
}

.dropdown-toggle::after{
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropend:hover .dropdown-content {
    display: block;
    margin-left: 100%;
    margin-top: -10%;
}






/* Contact */
.contact-section{
    background: transparent;
    padding: 80px 40px;
}

.contact-section .contact-row{
    display: flex;
    justify-content: space-between;
    padding: 80px 40px;
}
.contact-row i{
    color: #f8714c;
    margin-right: 8px;
}
.contact-row address, h6{
    padding: 10px 0 0 0;
}


/* Footer */
footer {
    border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
    color: #999;
    margin-bottom: 0px;
    background-color: #171e27;
    padding: 40px 0 0 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

footer .em-txt{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-size: 18px;
}

.em-txt img{
    width: 50px;
    margin-right: 10px;
}

footer address {
    color: #bfbfbf;
    font-size: 14px;
    line-height: 1.5;
}

footer address .contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: 1.5rem;
    font-size: 18px;
    font-weight: 600;
    color: #bfbfbf;
    margin: 40px 0 20px 0;
}

footer address .contact i {
    color: #f8714c;
    margin-right: 10px;
}

footer ul {
    margin: 40px 0;
    padding: 0; 
}

footer ul li {
    list-style: none;
    color: #fff;
    font-size: 1rem;
}

footer ul li:first-child {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #bfbfbf;
}

footer ul li a {
    color: #fff;
    font-size: 0.85rem;
    padding: 0.4rem 0;
    display: inline-block;
    text-decoration: none;
}

footer ul li a:hover {
    border-radius: 4px;
    color: #f8714c;
    text-decoration: none;
}

footer .powered-by {
    font-size: 10px;
    color: #d0d6e6;
}

footer .powered-by img {
    width: 65px; 
}

.social-links{
    display: flex;
    justify-content: center;
    bottom: 0px;
    width: 100%;
    padding: 20px;
}

.social-links a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: transparent;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.social-links a:hover{
    color: #f8714c;
    border: 1px solid #ffffff;
    border-radius: 50%;
} 

  
/* Common */

/* Headings */
.heading {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 28px;
}

.heading span {
    position: relative; 
}

.heading span::after {
    background: #f8714c;
    width: 60px;
    height: 6px;
    display: inline-block;
    content: "";
    position: absolute;
    border-radius: 0%;
    z-index: -1;
    top: 36px;
    left: 2px;
    padding-bottom: 5px;
}

.lineheading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

.lineheading::after{
    content: "";
    display: block;
    width: 100%;
    height: 2.25px;
    background: #f8714c;
    top: 50%;
    position: absolute;
    z-index: 1;
}

.lineheading p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
    /* padding: 0 10px; */
    background-color: #ffffff;
    z-index: 2;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #eee;
    margin-bottom: 20px;
}

/* Buttons */
.btn-short {
    background-color: #f8714c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    z-index: 2;
    position: relative;
}

.btn-short:hover {
    background-color: #d45b39;
}

/* loading overlay */
.loading-overlay{
    position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* Background Animation */
.animated-background1 {
    position: absolute;
    width: 120px;
    height: 120px;
    left: auto;
    right: 100px;
    bottom: 400px;
    background-color:transparent;
    background-image: radial-gradient(circle, #f8714c 10%, transparent 12%);
    background-size: 20px 20px;
    animation: rotate-bg 120s linear infinite;
  }

  .animated-background2 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 200px;
    left: 200px;
    right: auto;
    background-color:transparent;
    background-image: radial-gradient(circle, #f8714c 10%, transparent 12%);
    background-size: 20px 20px;
    animation: rotate-bg 120s linear infinite;
  }

  @keyframes rotate-bg {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  
@media (max-width: 768px) {
    .event-card {
        margin-bottom: 20px;
    }
    .carousel-caption{
        transform: translate(0%, 30%);
    }
    .carousel-caption p{
        transform: translate(0%, -5%);
    }
    footer .em-txt{
        /* display: inline; */
        color: #fff;
        font-size: 0.75rem;
        /* word-break: break-all; */
    }
}